// 제품상세 상단
.prd-top-section {
  padding-bottom: 0 !important;
  
  @include mdq-min(tab) {
    padding-bottom: em(80) !important;
  }
  
  @include mdq-min(lg) {
    padding-bottom: em(120) !important;
  }
}

.prd-top {
  margin-bottom: em(20);
  
  @include mdq-min(tab) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: em(100);
  }
  
  .prd-title-box {
    display: block;
    
    @include mdq-min(tab) {
      display: flex;
      align-items: flex-end;
    }
    
    .title {
      color: #333333;
      font-size: vw(24);
      font-weight: 800;
      letter-spacing: -1px;
      
      @include mdq-min(sm) {
        font-size: em(28);
      }
      
      @include mdq-min(tab) {
        font-size: em(78);
      }
    }
    
    .cate {
      margin-top: em(10, 12);
      font-size: vw(12);
      font-weight: 800;
      color: #cccccc;
      
      @include mdq-min(sm) {
        font-size: em(16);
      }
      
      @include mdq-min(tab) {
        font-size: em(20);
        line-height: 3;
        margin-left: em(20, 20);
      }
    }
  }
  
  .btn-back {
    display: none;
    color: #333333;
    
    @include mdq-min(tab) {
      display: block;
    }
    
    .text {
      color: #333333;
      display: block;
      text-align: right;
      font-size: em(14);
      font-weight: 800;
    }
    
    &::after {
      content: '';
      display: inline-block;
      width: em(102);
      height: em(42);
      background: {
        image: url(/builds/client/assets/images/icons/back_arrow.svg);
        repeat: no-repeat;
        position: center;
        size: auto 100%;
      };
    }
  }
}

.prd-list {
  display: flex;
  flex-wrap: wrap;
  margin: em(20) em(-10) em(-10) em(-10);
  
  @include mdq-min(tab) {
    margin: em(-45);
  }
  
  &__item {
    flex: 1 0 50%;
    max-width: 50%;
    padding: em(10);
    
    @include mdq-min(tab) {
      padding: em(45);
    }
  
    &:hover {
      .thumb img {
        transition: transform .3s ease-in-out;
        transform: translate(-50%, -50%) scale(0.105);
      }
    }
    
    .thumb {
      position: relative;
      overflow: hidden;
      
      &::after {
        content: '';
        display: block;
        padding-bottom: percentage(400/360);
      }
      
      img {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.1);
        width: auto;
        height: auto;
        min-width: 1000%;
        min-height: 1000%;
        max-width: none;
        max-height: none;
      }
    }
    
    .desc {
      padding: em(10, 14) 0;
      font-size: vw(14);
      font-weight: 800;
      
      @include mdq-min(sm) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: em(18);
      }
      
      @include mdq-min(tab) {
        padding: em(30, 20) 0;
        font-size: em(20);
      }
      
      .title {
        display: block;
        color: #333;
      }
      
      .cate {
        display: block;
        color: #ccc;
        margin-top: 4px;
        
        @include mdq-min(sm) {
          margin-top: 0;
        }
      }
    }
  }
}

// 제품상세정보
.prd-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  
  @include mdq-min(tab) {
    flex-direction: row;
  }
  
  .prd-info {
    flex: 1 0 100%;
    max-width: 100%;
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    
    @include mdq-min(tab) {
      flex: 1 0 percentage(740/1400);
      max-width: percentage(740/1400);
    }
    
    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: em(20);
      padding-bottom: em(20);
      border-bottom: 1px solid #ddd;
      
      @include mdq-min(tab) {
        padding-top: em(36);
        padding-bottom: em(32);
      }
      
      &:last-child {
        border: 0;
      }
    }
    
    .title {
      flex: 1 1 auto;
      font-weight: 600;
      font-size: vw(14);
  
      @include mdq-min(sm) {
        font-size: em(18);
      }
      
      @include mdq-min(tab) {
        font-size: em(22);
      }
      
      .sub-title {
        display: flex;
        align-items: center;
        font-size: em(12, 22);
        font-weight: 700;
        color: #999;
        margin-top: 9px;
        
        @include mdq-min(tab) {
          color: #ccc;
        }
        
        &::before {
          content: '';
          display: block;
          flex: 0 0 em(12, 12);
          width: em(12, 12);
          height: em(12, 12);
          margin-right: 3px;
          background: {
            image: url(/builds/client/assets/images/icons/prd_info_sub_title.svg);
            repeat: no-repeat;
            position: center;
            size: 100% auto;
          };
        }
      }
    }
    
    .text {
      flex: 0 0 auto;
      font-weight: 700;
      font-size: vw(12);
      
      @include mdq-min(sm) {
        font-size: em(14);
      }
  
      @include mdq-min(tab) {
        font-size: em(16);
      }
    }
  }
  
  .prd-swiper {
    flex: 1 0 100%;
    max-width: 100%;
    margin-bottom: em(20);
    
    @include mdq-min(tab) {
      flex: 1 1 auto;
      padding-left: em(10);
      padding-right: em(10);
    }
    
    .swiper {
      flex: 0 0 100%;
      width: 100%;
      
      @include mdq-min(sm) {
        flex: 0 0 em(400);
        width: em(400);
      }
    }
  
    .desc {
      display: none;
      text-align: center;
      
      @include mdq-min(tab) {
        display: block;
      }
    
      .title {
        font-size: em(32);
        font-weight: 800;
        letter-spacing: -1px;
      }
    
      .cate {
        font-size: 1em;
        font-weight: 800;
        color: #cccccc;
        margin-top: em(20);
      }
    }
  
    .swiper-pagination--black {
      display: none;
      justify-content: center;
      margin-top: em(70);
      
      @include mdq-min(tab) {
        display: flex;
      }
    }
  }
}

.prd-row {
  display: flex;
  
  .prd-col {
    flex: 1 0 auto;
    
    &.prd-col--title {
      flex: 1 1 auto;
      width: 1%;
      padding-right: em(10);
    }
  
    &.prd-col--content {
      flex: 0 0 em(1040);
      width: em(1040);
    }
  }
}

.droid-swiper-box {
  & + .droid-swiper-box {
    margin-top: em(170);
  }
  
  .swiper-pagination--black {
    margin-top: em(94);
  }
}

.droid-desc {
  display: flex;
  align-items: center;
  margin-top: em(50);
  
  .title {
    font-family: 'Poppins', sans-serif;
    flex: 0 0 auto;
    white-space: nowrap;
    font-size: em(32);
    font-weight: 600;
    line-height: 1;
    color: #333333;
  }
  
  .line {
    flex: 1 1 auto;
    width: 1%;
    height: 2px;
    background-color: #333;
    margin-left: em(52);
    margin-right: em(52);
  }
  
  .text {
    flex: 0 0 auto;
    font-size: 1em;
    line-height: 2;
    font-weight: 700;
    text-align: right;
  }
}