* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: 'SUIT', sans-serif;
}

.main {
  position: relative;
}

.section:not(.fp-section) {
  padding: em(120) 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: em(20);
  padding-right: em(20);
}

.page-row {
  display: flex;
  
  .page-col {
    flex: 1 0 auto;
    
    &.page-col--title {
      flex: 1 0 percentage(590/1400);
      max-width: percentage(590/1400);
    }
  
    &.page-col--content {
      flex: 1 0 percentage(810/1400);
      max-width: percentage(810/1400);
    }
  }
}

.line-banner {
  img {
    width: 90%;
  }
}