* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: 'SUIT', sans-serif;
}

.main {
  position: relative;
}

.section:not(.fp-section) {
  padding: em(120) 0;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: em(20);
  padding-right: em(20);
}

.line-banner {
  img {
    width: 90%;
  }
}