.page-title {
  &--normal {
    margin-bottom: em(100);
    
    .title {
      font-size: em(60);
      font-weight: 900;
      letter-spacing: -1px;
      
      @include mdq-min(lg) {
        font-size: em(78);
      }
    }
  }
  
  &--banner {
    padding-top: em(120);
    padding-bottom: em(120);
    margin-bottom: em(68);
    background: {
      image: url(/builds/client/assets/images/promote/top_bg.png);
      repeat: no-repeat;
      position: bottom right;
      size: auto;
    };
    
    .title {
      font-size: em(60);
      font-weight: 800;
      letter-spacing: -1px;
  
      @include mdq-min(lg) {
        font-size: em(78);
      }
    }
  }
  
  &--line {
    .title {
      color: #333;
      font-size: em(40);
      font-weight: 900;
      
      @include mdq-min(lg) {
        font-size: em(48);
      }
    }
    
    .title--lg {
      font-size: em(60);
      font-weight: 900;
      letter-spacing: -2px;
  
      @include mdq-min(lg) {
        font-size: em(78);
      }
    }
    
    .line {
      display: block;
      width: 2px;
      height: em(40);
      margin: em(20) 0;
      background-color: #333;
    }
    
    .sub-title {
      font-family: 'Poppins', sans-serif;
      color: #333;
      font-size: em(20);
      font-weight: 600;
      line-height: (26/20);
    }
    
    .sub-title--2 {
      font-family: 'Poppins', sans-serif;
      color: #ccc;
      font-size: em(20);
      font-weight: 600;
      line-height: (26/20);
    }
    
    .sub-title--lg {
      font-size: em(40);
      line-height: 1.5;
      font-weight: 600;
  
      @include mdq-min(lg) {
        font-size: em(48);
      }
    }
    
    .address-box {
      font-size: em(20);
      font-weight: 900;
      line-height: (24/20);
    }
    
    .address {
      margin-bottom: em(10, 20);
    }
    
    .tel-box {
      display: flex;
      
      .tel {
        display: flex;
        
        & + .tel {
          padding-left: em(40, 20);
        }
        
        &__title {
          padding-right: em(17, 20);
        }
      }
    }
    
    &.text-end {
      .line {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
  
  &--vertical {
    .symbol {
      height: em(40);
    }
    
    .title {
      font-size: em(40);
      font-weight: 800;
      letter-spacing: -1px;
      margin-top: em(40, 48);
  
      @include mdq-min(lg) {
        font-size: em(48);
      }
    }
    
    .title--2 {
      font-size: em(32);
      font-weight: 800;
      letter-spacing: -1px;
      line-height: (48/36);
  
      @include mdq-min(lg) {
        font-size: em(36);
      }
    }
  }
}