* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  position: relative;
  font-family: 'SUIT', sans-serif;
}