@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: "SUIT";
  font-weight: 100;
  src: url("../fonts/SUIT-Thin.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 200;
  src: url("../fonts/SUIT-ExtraLight.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 300;
  src: url("../fonts/SUIT-Light.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 400;
  src: url("../fonts/SUIT-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 500;
  src: url("../fonts/SUIT-Medium.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 600;
  src: url("../fonts/SUIT-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 700;
  src: url("../fonts/SUIT-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 800;
  src: url("../fonts/SUIT-ExtraBold.woff2") format("woff2");
}
@font-face {
  font-family: "SUIT";
  font-weight: 900;
  src: url("../fonts/SUIT-Heavy.woff2") format("woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

html,
body {
  font-family: "SUIT", sans-serif;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}
.header .container {
  padding: 3.75em 5em 0 3.75em;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .logo {
  display: block;
}
.header .logo .img {
  display: block;
  width: 7.25em;
  height: 1.5em;
  background: url(../images/logo.svg) no-repeat center/cover;
}
.header .util-box {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .lang-box {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-right: 2.5em;
}
.header .lang-box a {
  color: #333;
  font-size: 0.875em;
  font-weight: 800;
  text-decoration: none;
}
.header .btn-menu {
  position: relative;
  display: block;
  width: 2em;
  height: 1.5em;
  background: none;
  border: 0;
  cursor: pointer;
}
.header .btn-menu span {
  width: 100%;
  height: 2px;
  background-color: #333;
  transition: all 0.3s ease-in-out;
}
.header .btn-menu span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.header .btn-menu span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.header .btn-menu span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
}
.header .btn-menu.active span:nth-child(1) {
  transform-origin: top left;
  transform: rotate(42deg);
}
.header .btn-menu.active span:nth-child(2) {
  opacity: 0;
}
.header .btn-menu.active span:nth-child(3) {
  transform-origin: bottom left;
  transform: rotate(-42deg);
}
.header.header--white .logo .img {
  background: url(../images/logo_w.svg) no-repeat center/cover;
}
.header.header--white .lang-box a {
  color: #fff;
}
.header.header--white .btn-menu span {
  background-color: #fff;
}
.header.nav-open .lang-box a {
  color: #fff;
}
.header.nav-open .btn-menu span {
  background-color: #fff;
}

.footer {
  background-color: #35363c;
  padding-top: 4.375em;
  padding-bottom: 3.875em;
}
.footer .container {
  display: flex;
}
.footer .logo {
  flex: 0 0 auto;
  width: auto;
}
.footer .logo img {
  width: 7.25em;
  height: 1.5em;
}
.footer .content {
  flex: 1 1 auto;
  width: 1%;
  padding-left: 5em;
}
.footer .info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer .link-box {
  display: flex;
  align-items: center;
  gap: 1em;
}
.footer .link-box .link {
  font-size: 1.125em;
  font-weight: 900;
  color: #72747e;
}
.footer .link-box .dot {
  width: 4px;
}
.footer .link-box .dot::before, .footer .link-box .dot::after {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #72747e;
}
.footer .link-box .dot::after {
  margin-top: 6px;
}
.footer .copyright {
  font-size: 1.125em;
  font-weight: 900;
  color: #72747e;
}
.footer .bottom-box {
  display: flex;
  align-items: center;
  margin-top: 6em;
}
.footer .address-box {
  flex: 1 1 auto;
}
.footer .address-box .address {
  display: flex;
  gap: 1.1111111111em;
  font-size: 1.125em;
  font-weight: 900;
  color: #565863;
}
.footer .address-box .address + .address {
  margin-top: 0.4444444444em;
}
.footer .address-box .address__title {
  flex: 0 0 4.4444444444em;
}
.footer .address-box .address__text {
  padding-left: 1em;
}
.footer .address-box .address__tel {
  display: flex;
  gap: 1.1111111111em;
}
.footer .sns-box {
  display: flex;
  gap: 1em;
}

#fullpage_menu {
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 1;
}
#fullpage_menu li + li {
  margin-top: 2.875em;
}
#fullpage_menu li a {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.875em;
  font-weight: 800;
  color: rgba(51, 51, 51, 0.3);
}
#fullpage_menu li a::after {
  content: "";
  display: block;
  width: 0.625em;
  height: 2px;
  background-color: rgba(51, 51, 51, 0.3);
  margin-left: 0.625em;
  transition: all 0.3s ease-in-out;
}
#fullpage_menu li.active a, #fullpage_menu li:hover a {
  color: #333333;
}
#fullpage_menu li.active a::after, #fullpage_menu li:hover a::after {
  width: 3.75em;
  background-color: #333333;
}

.fp-viewing-intro #fullpage_menu li a {
  color: rgba(255, 255, 255, 0.3);
}
.fp-viewing-intro #fullpage_menu li a::after {
  background-color: rgba(255, 255, 255, 0.3);
}
.fp-viewing-intro #fullpage_menu li.active a, .fp-viewing-intro #fullpage_menu li:hover a {
  color: white;
}
.fp-viewing-intro #fullpage_menu li.active a::after, .fp-viewing-intro #fullpage_menu li:hover a::after {
  background-color: white;
}

.nav {
  position: fixed;
  top: 0;
  right: 0;
  width: 50em;
  height: 100vh;
  background-color: #35363c;
  z-index: 2;
  padding: 3.75em 6.25em;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}
.nav.active {
  transform: translateX(0);
}
.nav .symbol {
  width: 1.75em;
  height: 1.875em;
}
.nav .nav-list.depth-1 {
  padding-top: 7em;
}
.nav .nav-list.depth-1 > .nav-list__item {
  position: relative;
}
.nav .nav-list.depth-1 > .nav-list__item > .link {
  display: inline-flex;
  align-items: center;
  color: #565863;
  font-size: 2.25em;
  font-weight: 800;
}
.nav .nav-list.depth-1 > .nav-list__item > .link::after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background-color: #fff;
  margin-left: 1.1111111111em;
  margin-right: 1.1111111111em;
  transition: all 0.2s ease-in-out;
}
.nav .nav-list.depth-1 > .nav-list__item.active > .link, .nav .nav-list.depth-1 > .nav-list__item:hover > .link {
  color: #ffffff;
}
.nav .nav-list.depth-1 > .nav-list__item.active > .link::after, .nav .nav-list.depth-1 > .nav-list__item:hover > .link::after {
  width: 1.1111111111em;
}
.nav .nav-list.depth-1 > .nav-list__item.active .nav-list.depth-2, .nav .nav-list.depth-1 > .nav-list__item:hover .nav-list.depth-2 {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.nav .nav-list.depth-1 > .nav-list__item + .nav-list__item {
  margin-top: 4.625em;
}
.nav .nav-list.depth-2 {
  position: absolute;
  top: 0;
  left: 15.375em;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease-in-out;
}
.nav .nav-list.depth-2 > .nav-list__item > .link {
  color: #fff;
  font-weight: 900;
  font-size: 1.125em;
  line-height: 2.2222222222em;
}
.nav .nav-list.foot {
  position: absolute;
  bottom: 5.125em;
  left: 6.25em;
}
.nav .nav-list.foot .nav-list__item + .nav-list__item {
  margin-top: 1.5em;
}
.nav .nav-list.foot .nav-list__item .link {
  color: #565863;
  font-weight: 900;
}
.nav .nav-list.foot .nav-list__item.active .link, .nav .nav-list.foot .nav-list__item:hover .link {
  color: #ffffff;
}

.swiper-pagination--bullet {
  display: flex;
  align-items: center;
}
.swiper-pagination--bullet.swiper-pagination--white {
  color: #ffffff;
}
.swiper-pagination--bullet.swiper-pagination--white .swiper-pagination {
  display: flex;
  padding: 0 0.3125em;
}
.swiper-pagination--bullet.swiper-pagination--white .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 1.75em;
  height: 1.75em;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 0.375em;
}
.swiper-pagination--bullet.swiper-pagination--white .swiper-pagination .swiper-pagination-bullet::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: #fff;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-pagination--bullet.swiper-pagination--white .swiper-pagination .swiper-pagination-bullet-active::before {
  background-color: #fff;
}
.swiper-pagination--bullet.swiper-pagination--white .swiper-pagination .swiper-pagination-bullet-active::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-pagination--bullet.swiper-pagination--black {
  color: rgba(51, 51, 51, 0.3);
}
.swiper-pagination--bullet.swiper-pagination--black .swiper-pagination {
  display: flex;
  padding: 0 0.3125em;
}
.swiper-pagination--bullet.swiper-pagination--black .swiper-pagination .swiper-pagination-bullet {
  position: relative;
  width: 1.75em;
  height: 1.75em;
  border-radius: 100%;
  cursor: pointer;
  margin: 0 0.375em;
}
.swiper-pagination--bullet.swiper-pagination--black .swiper-pagination .swiper-pagination-bullet::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  background-color: rgba(51, 51, 51, 0.3);
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-pagination--bullet.swiper-pagination--black .swiper-pagination .swiper-pagination-bullet-active::before {
  background-color: #333;
}
.swiper-pagination--bullet.swiper-pagination--black .swiper-pagination .swiper-pagination-bullet-active::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 2px solid #333;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.swiper-pagination--bullet.swiper-pagination--black .swiper-button--prev {
  background-image: url(../images/icons/pagination_prev_b.svg);
}
.swiper-pagination--bullet.swiper-pagination--black .swiper-button--next {
  background-image: url(../images/icons/pagination_next_b.svg);
}

.swiper-pagination__number-first, .swiper-pagination__number-last {
  font-size: 0.875em;
  font-weight: 800;
  padding: 0 1.1428571429em;
}

.swiper-button--prev, .swiper-button--next {
  cursor: pointer;
  display: block;
  width: 0.8125em;
  height: 1.4375em;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.swiper-button--prev {
  background-image: url(../images/icons/pagination_prev_w.svg);
}
.swiper-button--next {
  background-image: url(../images/icons/pagination_next_w.svg);
}
.swiper-button--arrow-left, .swiper-button--arrow-right {
  cursor: pointer;
  display: block;
  width: 6.375em;
  height: 2.625em;
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 100%;
}
.swiper-button--arrow-left {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-3.875em, -50%);
  background-image: url(../images/icons/swiper_nav_arrow_left_b.svg);
  z-index: 2;
}
.swiper-button--arrow-right {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(3.875em, -50%);
  background-image: url(../images/icons/swiper_nav_arrow_right_b.svg);
  z-index: 2;
}

.main-swiper {
  width: 100%;
  height: 100vh;
}
.main-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}

.intro-swiper {
  width: 100%;
  height: 100vh;
}
.intro-swiper .swiper-slide {
  width: 100%;
  height: 100%;
}
.intro-swiper__bg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.intro-swiper__bg video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
  width: auto;
  height: auto;
}
.intro-swiper .swiper-pagination--bullet {
  position: absolute;
  bottom: 27.5em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1400px;
  z-index: 1;
  color: #ffffff;
}
.intro-swiper__text-box {
  position: absolute;
  bottom: 7.875em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1400px;
  color: #ffffff;
}
.intro-swiper__text {
  font-size: 1.375em;
  font-weight: 700;
  margin-bottom: 0.8181818182em;
}
.intro-swiper__title {
  font-size: 4.875em;
  font-weight: 800;
}
.intro-swiper__progressbar {
  position: absolute;
  bottom: 9em;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1400px;
  z-index: 2;
  text-align: right;
}
.intro-swiper__progressbar .swiper-button--play {
  display: inline-flex;
  margin-bottom: 1.25em;
}
.intro-swiper__progressbar .swiper-button--play .play,
.intro-swiper__progressbar .swiper-button--play .pause {
  font-family: "SUIT", sans-serif;
  font-size: 0.875em;
  font-weight: 900;
  color: #ffffff;
  background: none;
  border: 0;
  cursor: pointer;
}
.intro-swiper__progressbar .swiper-button--play .pause {
  display: none;
}
.intro-swiper__progressbar .swiper-button--play.active .play {
  display: none;
}
.intro-swiper__progressbar .swiper-button--play.active .pause {
  display: block;
}
.intro-swiper__progressbar .swiper-progressbar {
  position: relative;
  width: 42.2857142857%;
  height: 2px;
  margin-left: auto;
}
.intro-swiper__progressbar .swiper-progressbar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
}
.intro-swiper__progressbar .swiper-progressbar.active::before {
  width: 100%;
  transition: width 4s linear;
}

.tech {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: url(../images/main/tech_bg.png) no-repeat center/cover;
}
.tech .container {
  padding-right: 20em;
}
.tech-title {
  color: #333333;
  font-size: 3.25em;
  font-weight: 800;
}
.tech-swiper {
  overflow: visible;
  margin-top: 2.75em;
}
.tech-swiper .swiper-slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
.tech-swiper .swiper-slide-active {
  box-shadow: 30px 30px 50px rgba(0, 0, 0, 0.2);
}
.tech-swiper .swiper-slide-active::before {
  display: none;
}
.tech .swiper-pagination--bullet {
  margin-top: 5.5em;
}
.tech-bg {
  position: relative;
  overflow: hidden;
}
.tech-bg::after {
  content: "";
  display: block;
  padding-bottom: 45.4545454545%;
}
.tech-bg img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
  transform: translate(-50%, -50%) scale(0.1);
}
.tech-box {
  position: absolute;
  left: 3.75em;
  bottom: 3.75em;
}
.tech .swiper-progressbar {
  position: relative;
  width: 18.75em;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 1.125em 0;
}
.tech .swiper-progressbar::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff;
}
.tech .swiper-progressbar.active::before {
  width: 100%;
  transition: all 4s linear;
}
.tech-name {
  font-size: 2em;
  font-weight: 800;
  color: #ffffff;
}
.tech-name--eng {
  font-weight: 800;
  color: #ffffff;
}

.promo .swiper {
  overflow: visible;
}
.promo .swiper .swiper-pagination--bullet {
  margin-top: 12.1875em;
  padding-left: 2.5em;
}

.promo-title-box {
  display: flex;
  align-items: center;
  padding-left: 2.5em;
}
.promo-title-box .promo-title {
  margin-right: 0.3846153846em;
  font-size: 3.25em;
  font-weight: 800;
  letter-spacing: -1px;
}

.promo-box {
  overflow: hidden;
  border-radius: 1.875em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.05);
}
.promo-box .promo-thumb {
  position: relative;
  overflow: hidden;
}
.promo-box .promo-thumb::after {
  content: "";
  display: block;
  padding-bottom: 75%;
}
.promo-box .promo-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  width: auto;
  height: auto;
  min-width: 1000%;
  min-height: 1000%;
  max-width: none;
  max-height: none;
}
.promo-box .promo-desc {
  padding: 1.5em 1.5625em;
}
.promo-box .promo-desc__cate {
  color: #f09e22;
  font-size: 0.875em;
  font-weight: 900;
}
.promo-box .promo-desc__title {
  color: #333333;
  font-size: 1.25em;
  font-weight: 800;
  margin-top: 0.45em;
}
.promo-box .promo-desc__date {
  color: #cccccc;
  font-size: 0.75em;
  font-weight: 700;
  margin-top: 2.0833333333em;
}

.tab-header {
  display: inline-flex;
  align-items: center;
  border-radius: 3.125em;
  background-color: #f2f2f2;
}
.tab-header .tab-item {
  display: inline-block;
  font-weight: 800;
  color: #333333;
  padding: 0.9375em 1.375em;
  border-radius: 3.125em;
  user-select: none;
  cursor: pointer;
}
.tab-header .tab-item.active {
  color: #ffffff;
  background-color: #333;
}

.tab-body {
  margin-top: 5.75em;
}
.tab-body .tab-content {
  height: 0;
  visibility: hidden;
  overflow: hidden;
}
.tab-body .tab-content.active {
  height: auto;
  visibility: visible;
  overflow: visible;
}

.rnd {
  display: flex;
  align-items: stretch;
  height: 100%;
}
.rnd-title-box {
  position: relative;
  flex: 1 0 50%;
  max-width: 50%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 14.9375em;
}
.rnd-title-box .bar {
  display: block;
  width: 2px;
  height: 15em;
  background-color: #333;
  margin: 3.75em auto 3.75em 0;
}
.rnd-title-inner {
  position: relative;
  padding-right: 8.5em;
}
.rnd .swiper-pagination--bullet {
  position: absolute;
  bottom: -8.25em;
  left: 0;
}
.rnd-title {
  font-size: 4.875em;
  font-weight: 800;
  letter-spacing: -2px;
}
.rnd .address-box {
  display: flex;
  justify-content: space-between;
  font-size: 1.25em;
  font-weight: 800;
}
.rnd .address-box .address {
  margin-right: 2.5em;
}
.rnd .tel-box .tel .tel-title {
  margin-right: 0.75em;
}
.rnd .tel-box .tel + .tel {
  margin-top: 0.625em;
}
.rnd-swiper-box {
  flex: 1 0 50%;
  max-width: 50%;
  background: url(../images/main/rnd_bg.png) no-repeat center/cover;
}
.rnd .rnd-swiper {
  position: relative;
  width: 55em;
  padding-top: 12.5em;
  margin-left: -9.25em;
}
.rnd .rnd-swiper .rnd-top {
  width: 50em;
  margin-left: 0;
}
.rnd .rnd-swiper .rnd-top-thumb {
  position: relative;
  width: 50em;
}
.rnd .rnd-swiper .rnd-top-thumb::after {
  content: "";
  display: block;
  padding-bottom: 56.25%;
}
.rnd .rnd-swiper .rnd-top-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.rnd .rnd-swiper .rnd-bottom {
  width: 28.125em;
  margin-top: -18.125em;
  margin-right: 0;
}
.rnd .rnd-swiper .rnd-bottom-thumb {
  position: relative;
  width: 28.125em;
}
.rnd .rnd-swiper .rnd-bottom-thumb::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.rnd .rnd-swiper .rnd-bottom-thumb img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}
.rnd .rnd-swiper .swiper-button--arrow-left {
  top: 20em;
}
.rnd .rnd-swiper .swiper-button--arrow-right {
  top: inherit;
  bottom: 3.75em;
}

/*# sourceMappingURL=style.css.map */
